.nameHeader {
  text-align: center;
}

.aboutMe {
  font-size: 18px;
  background-color: #d6ecff;
} 

.headBack {
  background-color: beige;
}

.hobbies {
  background-color: rgb(245, 244, 202);

}

.background {
  background-color: rgb(216, 253, 213);
}

.sidebar {
	float: left;
	padding: 2px;
	width: 10%;
	font-size: 14px;
	border: 2px solid rgb(216, 216, 216);
	background-color: white;

}