Body {
  padding: 50px;
}

.nameHeader {
  text-align: center;
}

.aboutMe {
  font-size: 18px;
  background-color: #d6ecff;
} 

.headBack {
  background-color: beige;
}

.hobbies {
  background-color: #f5f4ca;

}

.background {
  background-color: #d8fdd5;
}

.sidebar {
	float: right;
	padding: 2px;
	width: 10%;
	font-size: 14px;
	border: 2px solid rgb(216, 216, 216);
	background-color: white;

}

.favoritePlaces {
  background-color: #d8fdd5;
}

.workHistory {
  background-color: #f5f4ca;
}

.projects {
  background-color: #d6ecff;
}