Body {
  padding: 65px;
}

h1 {
  font-size: 26px;
}

.nameHeader {
  text-align: center;
}

.aboutMe {
  font-size: 18px;
  background-color: #d6ecff;
} 

.headBack {
  background-color: beige;
}

.hobbies {
  background-color: #d8fdd5;

}

.background {
  background-color: #d8fdd5;
  margin-top:30px;
}

.sidebar {
	float: right;
	padding: 2px;
	width: 10%;
	font-size: 14px;
	border: 2px solid #d8d8d8;
  /* background-color: black; */
  color:black;
  text-align: center;
  margin-top: 30px

}

.favoritePlaces {
  background-color: #f5f4ca;
}

.workHistory {
  background-color: #f5f4ca;
  margin-top:30px;
}

.projects {
  background-color: #d6ecff;
}

a.link1 {
  font-size: 18px;
  color: #df0d99;
}

a.link2 {
  font-size: 18px;
  color: #ce5dfa;
}

a.link3 {
  font-size: 18px;
  color: #df0d99;
}

.projectHead {
  text-align: center;
}

img.hobbyPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 22%;

}

